<hr class="featurette-divider">
<div class="row featurette">
	<div class="d-flex align-items-center">
		<div class="col-md-7 {% if (key / 2) matches '/^\\d+$/' %} order-md-2{% endif %}">
			<h2 class="featurette-heading">
				{{ featurette.title }}
			</h2>
			<p class="lead">
				{{ featurette.description | raw }}
			</p>
		</div>
		<div class="col-md-5 {% if (key / 2) matches '/^\\d+$/' %} order-md-1{% endif %}">
			<img class="featurette-image img-fluid mx-auto" src="{{ asset('uploads/featurette/' ~ featurette.illustration) | imagine_filter('product_image') }}" alt="{{ featurette.title }}" width="500px" height="500px">
		</div>
	</div>
</div>
